*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu li{
    display: inline;
    background-color: gray;

}
#menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    color: white;

}

#menu li a:hover{
    background-color: #007fff;
    color: gray;
}